[run]
branch = False
source = clldlucl

[paths]
source =
    src/clldlucl
    .tox/*/lib/python*/site-packages/clldlucl

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
show_missing = True

